
.container-full-width {
    width: 100%;
    margin:0 auto;
    position: relative;
}


.section-a {
    background-color: #f9f9f9;
}

.slide-show-container {
    width: 100%;
    height: 40em;
    background-color: transparent;
    position: relative;
}


.slides .slide img {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 22;
}

.slides .slide .slide-content {
    z-index: 99999;
    color: white;
    margin-top: 10em;
    position: absolute;
    width: 100%;
    padding : 3em;
    z-index: 9999;
    text-align: left;
}

.slides .slide .slide-content h1 {
    font-size: 5.0rem;
    font-size: 50px;
    font-weight: 800;
}

.slides .slide .slide-content p {
    font-size: 20px;
}

.slides .slide .slide-content a {
    padding:13px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    border-width: 2px;
    letter-spacing: 1px;
    transition: all .5s;
}

.slides .slide .slide-content a:hover {
    color: black;
    background-color: #ffffff;
}

.left-navigation {
    left: 80px;
    top:20px;
    color: white;
    position: absolute;
    font-size: 15px;
    z-index: 99999;
}

.left-navigation a, .footer-head {
    color: white;
    font-weight: 700;
}

.left-navigation a:hover {
    color : #00415c;
}

.signup-extension {
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left: -60px;
    margin: 20px;
    z-index: 999999999999;
}

.modal-backdrop, .modal {
    position: fixed;
    z-index: 99999999;
}



.signup-extension .arrow-up {
    width: 0;
    height: 0;
    border-top: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    border-radius: 2px 2px 2px 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    left: 50px;
    top : -7px;
    position: absolute;
}


.signup-extension .foot {
    height: 35px;
    width: 100%;
    background-color: #32425C;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}

.signup-extension .items {
    width: 85%;
    margin: 0 auto;
    padding-top: 15px;
}

.signup-extension .items .item {
    width: 80px;
    display: inline-block;
    text-align: center;
}


.signup-extension .items .item.active {
    cursor: pointer;
}

.signup-extension .items .item.active p {
    color: black;
}

.signup-extension p {
    color:#00415C;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    font-size: 9px;
    letter-spacing: 1px;
    transition: all .2s;
}

.signup-extension .foot p {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
    color: white;
}

.hidden {
    display: hidden;
}

.right-navigation {
    right: 80px;
    top:20px;
    position: absolute;
    font-size: 15px;
    z-index: 99999;
}

.right-navigation .social-icons span.icon {
    display: inline-block;
    width: 35px;
    background-repeat: no-repeat;
    height: 35px;
    margin:5px;
    background-size: 35px 73px;
    transition: all .3s;
}

.right-navigation .social-icons span.icon.fb-icon {
    background-image: url(../../images/social/fb.png);
}
.right-navigation .social-icons span.icon.twitter-icon {
    background-image: url(../../images/social/twitter.png);
}

.right-navigation .social-icons span.icon.google-plus-icon {
    background-image: url(../../images/social/google-plus.png);
}


.right-navigation .social-icons span.icon:hover {
    cursor: pointer;
}


.right-navigation .social-icons span.icon.active {
    background-position: 0px -39px;
}

#slide2 > .slide-content > a {
    background-color: transparent;
    color: white;
}
#slide2 > .slide-content > a:hover {
    background-color: #21AB9B;
    border: 2px solid #21AB9B;
    color: white;
}

.modal-dialog {
    z-index: 99999999999;
}

.featured-header {
    height: 10em;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.featured-header a.title-link  {
    color: #163546;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.5rem;
    font-size: 15px;
    top: 20px;
    letter-spacing: 1px;
}

.featured-header .navigation-section .row .item {
    padding:10px;
}
.featured-header .navigation-section .row .item ul {
    padding : 0px;
    list-style-type: none;
}
i {
    font-size: 12px;
}

#cso_logo {
    margin : 1.6em 0em 0em 3em;
}


.section-b {
    width: 100%;
    max-width: 1400px;
    margin : 0 auto;
    background-color: #f9f9f9;
    margin-top: 50px;
}

.section-b-thumb {
    /*border: 2px solid #F2F2F2;*/
    display: inline-block;
    width: 100%;
    height: 230px;
    position: relative;
    transition : all .4s;
}

.section-b-thumb:nth-child(1) {
    margin-top: 60px;
}

.section-b-thumb.active {
    /*border: 2px solid #788288;*/
}

.section-b-thumb.active .icon-holder {
    /*-webkit-transform: scaleX(1.8);
    -webkit-transform: scaleY(1.2);*/
    width: 140px;
}

.section-b-thumb .icon-holder {
    width: 100px;
    height: 100px;
    background-color: #F9F9F9;
    position: relative;
    top: -35px;
    text-align: center;
    margin: 0 auto;
    transition : all .4s;
}


.section-b-wrapper {
    background-color: #ffffff;
}
.section-b h2 {
    text-align: center;
    padding : 20px;
}



.section-b-thumb .section-content {
    height: auto;
    position: absolute;
    top:0;
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.section-b-thumb .section-content p.section-title {
    transition: all .9s;
    padding:0px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}


div.section-description p {
    color: #788288;
    font-size: 13px;
    letter-spacing: 1px;
}

div.section-description a {
    margin-top: 10px;
}


.footer {
    margin-top: 100px;
}

.footer-head {
    background-color: #1D4355;
    text-align: center;
    padding:25px;

}

.footer-body-wrapper {
    background-color: #163546;
    min-height: 300px;
    padding-top: 30px;
}

.footer-body-wrapper .footer-body {
    max-width: 1400px;
    margin: 0 auto;
    padding-left:50px;
    padding-right:50px;
    background-color: white;
    color: white;
}
.footer-body h3 {
    font-weight: 700;
}

.footer-body ul li p a {
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.footer-body ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer .social-feed {
    height: 240px;
    overflow-y : scroll;
    background-color: transparent;
    border:none;
}

.panel-default {
    background-color: none;
}

.navigation-section {
    padding-right: 50px
}
.navigation-section h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 4.3rem;
    font-size: 43px;
    text-align: right;
}

h2.main-title {
    padding : 30px 100px 30px 100px;
}

.post-item .wrapper-lg {
    font-size:2.0rem;
    font-size:20px;
    font-weight: 100;
    text-align: center;
}


.navbar.sticky {
    position: fixed;
    z-index : 99999999;
    background : white;
    width: 100%;
}

li.active {
    background: #1D4355;
}

li.active a {
    color: white;
}

header.navbar {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
}

.header-points div {
    height : 170px;
    text-transform: uppercase;
    margin : 3px;
    border: 1px solid #CA8B68;
    text-align: center;
    background-color:rgba(205,101,30,0.3);
    font-family: 'Oswald', sans-serif;
    float:left;
}

.header-points div.left {
    width:40%;
}
.header-points div.right {
    width:56%;
    padding-top: 15px;
}


.header-points div h3 {
    color : #F9F9F9;
    font-size: 9rem;
    font-family: 'Oswald', sans-serif;
    margin :0px;
    padding:0px;
}

.header-points div p {
    margin: 0px;
    padding:0px;
    font-weight: 100;
}
