.container-full-width {
    width: 100%;
    margin:0 auto;
    position: relative;
}


.section-a {
    background-color: #f9f9f9;
}

.slide-show-container {
    width: 100%;
    height: 40em;
    background-color: transparent;
    position: relative;
}

.slides .slide img {
    position: absolute;
    height: 100%;
    width:80%;
    z-index: 22;
    right:0px;
}

.slides .slide .slide-content {
    z-index: 99999;
    color: white;
    position: absolute;
    z-index: 9999;
    text-align: left;
    padding: 10em 4em 0em 2em;
    background-color:#B2C7C2;
    width: 30%;
    height:100%;
    left:0px;
}

.slides .slide .slide-content h1 {
    font-size: 3.0rem;
    font-size: 30px;
    font-weight: 800;
    color : white;
}

.icon-holder i {
    font-size : 4.5em;
}


.slides .slide .slide-content p {
    text-transform: lowercase;
    font-size: 13px;
    color : white;
    font-weight:800;
}

.slides .slide .slide-content a {
    padding:13px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    border-width: 2px;
    letter-spacing: 1px;
    transition: all .5s;
}

.slides .slide .slide-content a:hover {
    color: black;
    background-color: #ffffff;
}

.left-navigation {
    left: 80px;
    top:20px;
    color: white;
    position: absolute;
    font-size: 15px;
    z-index: 99999;
}


.left-navigation a, .footer-head {
    color: white;
    font-weight: 700;
}

.left-navigation a:hover {
    color : #00415c;
}

.signup-extension {
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left: -60px;
    margin: 20px;
    z-index: 999999999999;
}

.modal-backdrop, .modal {
    position: fixed;
    z-index: 99999999;
}



.signup-extension .arrow-up {
    width: 0;
    height: 0;
    border-top: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    border-radius: 2px 2px 2px 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    left: 50px;
    top : -7px;
    position: absolute;
}


.signup-extension .foot {
    height: 35px;
    width: 100%;
    background-color: #32425C;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}

.signup-extension .items {
    width: 85%;
    margin: 0 auto;
    padding-top: 15px;
}

.signup-extension .items .item {
    width: 80px;
    display: inline-block;
    text-align: center;
}


.signup-extension .items .item.active {
    cursor: pointer;
}

.signup-extension .items .item.active p {
    color: black;
}

.signup-extension p {
    color:#00415C;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    font-size: 9px;
    letter-spacing: 1px;
    transition: all .2s;
}

.signup-extension .foot p {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
    color: white;
}

.hidden {
    display: hidden;
}


.right-navigation {
    right: 80px;
    top:20px;
    position: absolute;
    font-size: 15px;
    z-index: 99999;
}


.right-navigation .social-icons span.icon {
    display: inline-block;
    width: 35px;
    background-repeat: no-repeat;
    height: 35px;
    margin:5px;
    background-size: 35px 73px;
    transition: all .3s;
}

.right-navigation .social-icons span.icon.fb-icon {
    background-image: url(../../images/social/fb.png);
}
.right-navigation .social-icons span.icon.twitter-icon {
    background-image: url(../../images/social/twitter.png);
}

.right-navigation .social-icons span.icon.google-plus-icon {
    background-image: url(../../images/social/google-plus.png);
}



.right-navigation .social-icons span.icon:hover {
    cursor: pointer;
}


.right-navigation .social-icons span.icon.active {
    background-position: 0px -39px;
}

#slide2 > .slide-content > a {
    background-color: transparent;
    color: white;
}
#slide2 > .slide-content > a:hover {
    background-color: #21AB9B;
    border: 2px solid #21AB9B;
    color: white;
}

.modal-dialog {
    z-index: 99999999999;
}

.featured-header {
    height: 10em;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.featured-header a.title-link  {
    color: #163546;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.5rem;
    font-size: 15px;
    top: 20px;
    letter-spacing: 1px;
}

.featured-header .navigation-section .row .item {
    padding:10px;
}
.featured-header .navigation-section .row .item ul {
    padding : 0px;
    list-style-type: none;
}
i {
    font-size: 12px;
}

#cso_logo {
    margin : 1.6em 0em 0em 3em;
}

.section-b {
    width: 100%;
    max-width: 1400px;
    margin : 0 auto;
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-bottom: 8em;
}

.section-b-thumb {
    /*border: 2px solid #F2F2F2;*/
    display: inline-block;
    width: 100%;
    height: 230px;
    position: relative;
    transition : all .4s;
}

.section-b-thumb:nth-child(1) {
    margin-top: 60px;
}

.section-b-thumb.active {
    /*border: 2px solid #788288;*/
}

.section-b-thumb.active .icon-holder {
    /*-webkit-transform: scaleX(1.8);
    -webkit-transform: scaleY(1.2);*/
    width: 140px;
}

.section-b-thumb .icon-holder {
    width: 100px;
    height: 100px;
    background-color: #F9F9F9;
    position: relative;
    top: -35px;
    text-align: center;
    margin: 0 auto;
    transition : all .4s;
}


.section-b-wrapper {
    background-color: #ffffff;
}
.section-b h2 {
    text-align: center;
    padding : 20px;
}



.section-b-thumb .section-content {
    height: auto;
    position: absolute;
    top:0;
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.section-b-thumb .section-content p.section-title {
    transition: all .9s;
    padding:0px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}


div.section-description p {
    color: #788288;
    font-size: 13px;
    letter-spacing: 1px;
}

div.section-description a {
    margin-top: 10px;
}



.footer-head {
    background-color: #1D4355;
    text-align: center;
    padding:25px;

}

.footer-body-wrapper {
    background-color: #163546;
    min-height: 300px;
    padding-top: 30px;
}

.footer-body-wrapper .footer-body {
    max-width: 1400px;
    margin: 0 auto;
    padding-left:50px;
    padding-right:50px;
    background-color: white;
    color: white;
}
.footer-body h3 {
    font-weight: 700;
}



.footer-body ul li p a {
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.footer-body ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer .social-feed {
    height: 240px;
    overflow-y : scroll;
    background-color: transparent;
    border:none;
}

.panel-default {
    background-color: none;
}

.navigation-section {
    padding-right: 50px
}

.navigation-section h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 4.3rem;
    font-size: 43px;
    text-align: right;
}

h2.main-title {
    color:#788288;
    font-weight:800;
    width:24em;
    margin:0 auto;
    margin-bottom:2em;
    border: 3px solid #788288;
}

.post-item .wrapper-lg {
    font-size:2.0rem;
    font-size:20px;
    font-weight: 100;
    text-align: center;
}



.navbar.sticky {
    position: fixed;
    z-index : 99999999;
    background : white;
    width: 100%;
}

li.active {
    background: #1D4355;
}

li.active a {
    color: white;
}

header.navbar {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
}

.section-c {

}

.section-c p {
    text-align: center;
    font-size: 1.5em;
    width:50em;
    margin: 0 auto;
    font-weight: 100;
}

.section-d div {
    width: 50%;
    float: left;
    height:45em;
    display: block;
    text-align: center;
    color:white;
    padding:3em;
}



.section-d div i {
    font-size: 10em;
}

.section-d p.title {
    font-size: 3em;
}

.section-d p.description {
    font-size:1.4em;
    padding-bottom: 2em;
}


.section-d div.left-section {
    background: #788288;
}

.section-d div.right-section {
    background: #E3E0D1;
}

.section-d div.right-section {
    color: #788288;
}

.carousel {
    margin-top:20px;
    margin-bottom:20px;
}

.carousel .carousel-inner .item {
    padding-top: 20px;
}

.carousel .carousel-inner .item a {
    margin-top: 20px;
    margin-bottom: 1em;
}

.carousel .carousel-inner .item h4.text-mute {
    font-size: 3em;
}

.fa-angle-right, .fa-angle-left {
    font-size: 1em;
}

.section-e {
    color: #1D4355;
    background-color: #E8E6E9;
}

.section-e small {
    color:#1D4355;
    font-weight:500;
}

.cross-sections {
    text-align: center;
}



.cross-sections div {
    height: 200px;
}

.cross-sections div p.title {
    font-weight: 800;
    text-transform: uppercase;
    margin-top:-20px;
}

.cross-sections div i {
    position:relative;
    top:-.5em;
    font-size:3em;
}



.bt {
    border-top:1px solid green;
}

.bb {
    border-bottom:1px solid green;
}

.br {
    border-right:1px solid #788288;
}

.bl {
    border-left:1px solid green;
}
